# fly.toml app configuration file generated for chama-wallet-backend
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "chama-wallet-backend"
primary_region = "iad"

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

  [[http_service.checks]]
    interval = "15s"
    timeout = "10s"
    grace_period = "10s"
    method = "GET"
    path = "/ping"

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1
